
<!-- 페이지 제일 위 headLine -->
<div id="head"></div>

<!-- 네비게이션 바 강원대학교 마크 학군단(ROTC), 학군단 소개, ROTC 소개, 찾아오는길 -->
    <nav>
      <!-- 전체 디자인 Ul 시작 -->
      <ul class="header-navigation">
        <!-- ******** 좌측 헤더 네비게이션 ********-->
        <!-- 눌렀을 때 메인 페이지 이동 -->
        <a class="header-navigation-img" href="main.html">
          <!-- 강원대학교 이미지 로고 -->
          <img id="header-logo" src="images/logo.png" />
          <!-- 학군단 타이틀 -->
          <div class="header-navigation-left-title">
            <p>| 학군단(ROTC)</p>
          </div>
        </a>
        <!-- ******** 좌측 끝 ******** -->

        <!-- ******** 우측 시작 학군단 소개, ROTC 소개, 찾아오는 길  ******** -->
        <ul class="header-navigation-right-ul">
          <li>
            <div class="header-navigation-dropdown">
            <!-- 첫번째 메뉴 학군단 소개 버튼 -->
              <button class="header-navigation-dropdown-button">학군단 소개</button>
              <div class="header-navigation-dropdown-container">
                <a href="./ROTC_Introduction.html">학군단 소개</a>
                <a href="./ROTC_Organization.html">학군단 조직도</a>
                <a href="./ROTC_Taggari_Organization.html">후보생 조직도</a>
              </div>
            </div>
          </li>

          <!-- 첫번째 메뉴 END -->


          <!-- 두번째 메뉴 ROTC 소개 -->
          <li>
            <div class="header-navigation-right-div-2">
                <a href="./ROTC_Introduction_ROTC.html"> <p>ROTC 소개</p></a>
              </a>
            </div>
          </li>
          <!-- 두번째 메뉴 END -->

          <!-- 세번째 메뉴 찾아오는 길 -->
          <li>
            <div class="header-navigation-right-div-3">
              <a href="./ROTC_chaataonengill.html"><p>찾아오는 길</p></a>
            </div>
          </li>
          <!-- 세번째 메뉴 END -->

        </ul>
        <!-- ******** 우측 네비게이션 END ******** -->
      </ul>
      <!-- 전체 디자인 Ul END -->
    </nav>
    <!-- 네비게이션 END -->