<!-- 사이드 메뉴 시작 -->
<div class="sideMenu-container">
  <!-- 학군단 마크  -->
  <div class="sideMenu-img-container">
    <img class="sideMenu-img" src="images/guundan.png" />
  </div>

  <!-- 학군단 소개 시작 -->
  <div>
    <div class="sideMenu-dropdown-container">
      <button class="sideMenu-dropdown-button" id="color-change">
        학군단 소개 <i class="fas fa-chevron-right"></i>
      </button>
      <div class="sideMenu-dropdown-content">
        <a href="./ROTC_Introduction.html">학군단 소개</a>
        <a href="./ROTC_Organization.html">학군단 조직도</a>
        <a href="./ROTC_Taggari_Organization.html">후보생 조직도</a>
      </div>
    </div>
  </div>
  <!-- 학군단 소개 끝 -->

  <!-- ROTC 소개 시작 -->
  <div>
    <div class="sideMenu-dropdown-container">
      <a href="./ROTC_Introduction_ROTC.html"
        ><button class="sideMenu-dropdown-button">
          ROTC 소개 <i class="fas fa-chevron-right"></i></button
      ></a>
      <div class="sideMenu-dropdown-content"></div>
    </div>
  </div>
  <!-- ROTC 소개 끝 -->

  <!-- 찾아오는 길 시작 -->
  <div>
    <div class="sideMenu-dropdown-container">
      <a href="./ROTC_chaataonengill.html">
        <button class="sideMenu-dropdown-button">
          찾아오는 길 <i class="fas fa-chevron-right"></i>
        </button>
      </a>
    </div>
    <div class="sideMenu-dropdown-content"></div>
  </div>
  <!-- 찾아노는 길 END -->
</div>
<!-- 사이드 메뉴 끝 -->
