<div class="main-slider">
    <!--전체를 감쌀 뼈대-->
    <div class="main-slides">
        <!--슬라이드될 아이템들 -->
        <img class="main-slide-item" src="./images/inauguration1.jpg"></img>
        <img class="main-slide-item" src="./images/induction1.jpg"></img>
        <img class="main-slide-item" src="./images/launch1.jpg"></img>
        <img class="main-slide-item" src="./images/launch2.jpg"></img>
        <img class="main-slide-item" src="./images/training1.jpg"></img>
        <img class="main-slide-item" src="./images/training2.jpg"></img>
    </div>
</div>