/* 소개글 전체를 감싸는 article */
.masterIntro-container {
  margin-left: 20%;
}

/* 소개글 안에 p 태그와 img 를 감싸는 div */
.masterIntro-content-container {
  display: flex;
  width: 70%;
  border: 1px dotted black;
  justify-content: space-between;
}

/* 소개글 안에 있는 img */
.masterIntro-content-img {
  margin-right: 5%;
}

/* 소개글 안에 있는 p와 span을 감싸는 div */
.masterIntro-content-p {
  padding-right: 7%;
}

/* 소개글 안에 font 지정 */
#masterIntro-title-font {
  color: #0041b7;
  font-size: 32px;
  font-weight: bolder;
}

/* 소개글 안에 있는 p 태그를 우측 정렬 */
.masterIntro-content-p-right {
  text-align: right;
}
