<div class="center">
  <div class="center-deps1">
    <div class="infoContainer">
      <h1>ROTC 소개</h1>
      <br />
      <h2>학군사관 후보생(ROTC)제도란?</h2>
      <p class="info_p">
        ROTC(Reserve Officers Tranining Corps)제도는 무한한 가능성과 잠재력을
        가진 대학생 중 우수자를 선발하여 2년간의 군사훈련을 거쳐 졸업과 동시에
        장교로 임관하는 제도입니다.
        <br /><br />1961년도에 장차 군이나 사회의 유능한 인재를 양성하는
        목적으로 만들어진 학군사관 제도는 우수한 대학생들에게 새로운 미래를
        열여주는 특별한 기회가 되었습니다.
      </p>

      <h2>ROTC제도의 특성</h2>
      <ul type="CIRCLE" class="info_li">
        <li>장교로서 최단기간의 의무복무(2년 4개월)로 사회 조기진출</li>
        <li>ROTC입단과 동시 폭넓은 인간관계 형성</li>
        <li>
          전역 후 높은 취업률 및 사회 전반 ROTC 전역장교 우대 다양한 장학금 혜택
          부여
        </li>
        <li>※ 60년 역사와 약 21만명의 동문이 사회 각계각층에 분포</li>
      </ul>

      <h2>교육과정</h2>

      <ul class="info_li">
        <li>
          교내교육 : ROTC 후보생의 군사지식 함양, 학기당 1∼3학점 취득<br />*
          강원대 3학점
        </li>
        <li>
          입영훈련 : 3·4학년 방학기간을 이용한 입영훈련(학생군사학교) 실시
        </li>
      </ul>
    </div>
  </div>
</div>
